.react-calendar-heatmap .color-runvizgreen-0 {
fill: #FFFFAA;
}
.react-calendar-heatmap .color-runvizgreen-1 {
fill: #C4D285;
}
.react-calendar-heatmap .color-runvizgreen-2 {
fill: #8CAF65;
}
.react-calendar-heatmap .color-runvizgreen-3 {
fill: #568C45;
}
.react-calendar-heatmap .color-runvizgreen-4 {
fill: #1E6823;
}
