body {
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.loginButtonContainer {
    text-align: center;
}

.loginButton {
    background-color: #fc5200 !important;
    border-color: #fc5200 !important;
}

.loginButton:hover {
    background-color: #b44e20 !important;
}

.athleteInfo {
    text-align: right;
}

.athletePicture {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.text-orange {
    color: #fc5200;
}

.react-calendar-heatmap .color-runviz-0 {
fill: #fdc787;
}
.react-calendar-heatmap .color-runviz-1 {
fill: #f5a063;
}
.react-calendar-heatmap .color-runviz-2 {
fill: #ff663c;
}
.react-calendar-heatmap .color-runviz-3 {
fill: #ff3000;
}
.react-calendar-heatmap .color-runviz-4 {
fill: #bd0000;
}
