body {
    font-family: monospace;
}

.loginButtonContainer {
    text-align: center;
}

.loginButton {
    background-color: #fc5200 !important;
    border-color: #fc5200 !important;
}

.loginButton:hover {
    background-color: #b44e20 !important;
}

.athleteInfo {
    text-align: right;
}

.athletePicture {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.react-calendar-heatmap .color-runviz-0 {
fill: #fdc787;
}
.react-calendar-heatmap .color-runviz-1 {
fill: #f5a063;
}
.react-calendar-heatmap .color-runviz-2 {
fill: #ff663c;
}
.react-calendar-heatmap .color-runviz-3 {
fill: #ff3000;
}
.react-calendar-heatmap .color-runviz-4 {
fill: #bd0000;
}

.react-calendar-heatmap .color-runvizgreen-0 {
fill: #FFFFAA;
}
.react-calendar-heatmap .color-runvizgreen-1 {
fill: #C4D285;
}
.react-calendar-heatmap .color-runvizgreen-2 {
fill: #8CAF65;
}
.react-calendar-heatmap .color-runvizgreen-3 {
fill: #568C45;
}
.react-calendar-heatmap .color-runvizgreen-4 {
fill: #1E6823;
}
